@model IndexViewModel
@{
    ViewData["Title"] = "<IOKLO";
}

<style type="text/css">
    h2 { font-weight: 300; }
</style>

<div class="container font-weight-light">

    <div class="display-4" style="font-size:3.5rem; margin-left: -7px; margin-top:5px; margin-bottom: 20px; ">&lt;IOKLO</div>

    <ul class="list-unstyled">
        <li><span class="font-weight-bold">이승중</span>, 1984, 프로그래머</li>
        <li>Instagram <a href="https://www.instagram.com/ioklo" target="_blank">https://www.instagram.com/ioklo</a></li>
        <li>Github <a href="https://github.com/ioklo" target="_blank">https://github.com/ioklo</a></li>
        <li>Facebook <a href="https://facebook.com/ioklo84" target="_blank">https://facebook.com/ioklo84</a></li>
    </ul>

    <h2>Pretune</h2>
    <ul class="list-unstyled">
        <li>반복적인 C# 코드를 자동으로 생성하는 툴</li>
        <li><a href="https://github.com/ioklo/Pretune" target="_blank">https://github.com/ioklo/Pretune</a></li>
        <li>Nuget <a href="https://www.nuget.org/packages/Pretune" target="_blank">https://www.nuget.org/packages/Pretune</a></li>
    </ul>

    <h2>Gum</h2>
    <ul class="list-unstyled">
        <li>C# 스타일의 어디에나 붙일 수 있는 스크립트 언어</li>
        <li><a href="https://github.com/ioklo/gum" target="_blank">https://github.com/ioklo/gum</a></li>
        <li>Gum 스크립트 온라인 <a href="~/gum/" target="_blank">https://ioklo.net/gum</a></li>
    </ul>

    <h2>Wonderlust</h2>
    <ul class="list-unstyled">
        <li>WinM과 비슷한 모양의 윈도우용 파일관리자</li>
        <li><a href="https://github.com/ioklo/wonderlust" target="_blank">https://github.com/ioklo/wonderlust</a></li>
    </ul>

</div>