@{
    ViewData["Title"] = "QuickSC";
}

<div class="d-flex flex-column container h-100">

    <div class="flex-grow-0 flex-shrink-0 p-2">
        <h1>Scratch Pad</h1>
        <button type="button" class="btn btn-primary" onclick="onRunButtonClick();">Run</button>
        <button type="button" class="btn btn-secondary">Examples</button>
    </div>

    <div id="editor" class="flex-grow-1 flex-shrink-1 border rounded-top overflow-hidden">
    </div>

    <div class="py-2">
        <pre id="result" class="flex-grow-0 flex-shrink-0 border bg-white" style="height: 200px;">result</pre>
    </div>

    <app class="d-none">Loading...</app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</div>

@section Scripts{

    <script src="~/lib/monaco-editor/min/vs/loader.js"></script>
    <script>

        $('html').height('100%');
        $('body').height('100%');
        $('main').height('100%');

        function onResize() {
            window.editor.layout();
        }

        window.writeConsole = function (text) {
            var t = $('#result').text();
            $('#result').text(t + text);
        }

        async function onRunButtonClick() {

            $('#result').text('');

            var code = window.editor.getValue();
            await DotNet.invokeMethodAsync('Homepage.QuickSC', 'RunAsync', code);
        }

        require.config({ paths: { 'vs': 'lib/monaco-editor/min/vs' } });

        require(['vs/editor/editor.main'], function () {
            window.editor = monaco.editor.create(document.getElementById('editor'), {
                value: [
                    'int count = 0, sum = 0;',
                    '',
                    'await // local scope 안의 awaitable(async/task)을 모아서 기다립니다',
                    '{',
                    '    async // 비동기 영역1',
                    '    {',
                    '        for(int i = 0; i < 4; i++)',
                    '        {',
                    '            count++;',
                    '            @@{',
                    '                echo 1> $count \\n',
                    '                sleep 1',
                    '            }',
                    '        }',
                    '    }',
                    '',
                    '    async // 비동기 영역2',
                    '    {',
                    '        @@sleep 0.5',
                    '',
                    '        for(int i = 0; i < 4; i++)',
                    '        {',
                    '            count++;',
                    '            @@{',
                    '                echo 2> $count \\n',
                    '                sleep 1',
                    '            }',
                    '        }',
                    '    }',
                    '',
                    '    task // 동시 실행 영역..',
                    '    {',
                    '        for(int i = 0 ; i< 10; i++)',
                    '            sum = sum + i;',
                    '    }',
                    '}',
                    '',
                    '@@echo 완료! $sum'
                ].join('\n'),
                language: 'csharp',
                minimap: {
                    enabled: false
                }

            });
        });
    </script>

    <script src="~/_framework/blazor.webassembly.js"></script>
}

